@import url('https://fonts.googleapis.com/css2?family=Borel&family=Mooli&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mooli', sans-serif;
    font-size: 1rem;
    background-color: rgb(249, 216, 249);
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
    display: inline-block;
}

a:hover {
    color: orangered;
}

.kbc {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: purple;
    width: 100%;
}

h1{
    font-family: 'Borel', cursive;
    font-size: 4rem;
    padding-top: 1rem;
}

h2{
    font-family: 'Borel', cursive;
    font-size: 2rem;
    padding-top: 1rem;
    color: white;
}

.imgperfil {
    width: 6rem;
    border-radius: 50%;
}

.maps {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mapinha {
    margin-right: 50px;
    border-radius: 15px;
}

p {
    font-family: 'Mooli', sans-serif;
    color: rgb(54, 2, 54);
    text-align: center;
}

.t1 {
    width: 50%;
    border: solid purple;
    border-radius: 15px;
    text-align: center;
    margin-left: 50px;
    margin-top: 2rem;
    font-size: 1rem;
}

.sectionDois {
    width: 100%;
    font-family: 'Borel', cursive;
    font-size: 2rem;
}

.subkbc {
    padding-top: 1rem;
    background-color: purple;
}

.t2 {  
    display: flex;
    justify-content: space-evenly
}

.t2 p{
    margin-top: 2rem;
    width: 30vw;
    border: solid purple;
    border-radius: 15px;
    text-align: center;
}

.foto{
    width: 35vw;
    margin-top: 2rem;
    border-radius: 15px;
}

.top5{
    margin: 1rem;
    margin-top: 2rem;
    color: rgb(54, 2, 54);
    font-size: 1rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    /* align-items: center; */
    display: grid;
    /* grid-template-columns: repeat(5,1fr); */
    /* gap: 20rem 15rem; */
}

img{
    border-radius: 50%;
}

#sempi, #horror, #spirit, #amo, #hell{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#sempi{
    grid-area: sempi;
}
#horror{
    grid-area: horror;
}

#spirit{
    grid-area: spirit;
}

#amo{
    grid-area: amo;
}

#hell{
    grid-area: hell;
    text-size-adjust: 1rem;
}


.top5{
    grid-template-areas:
    ". . sempi . ."
    ". horror . spirit ."
    "amo . . . hell";
}


.top5 li{
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.come p{
    font-size: 1.5rem;
    margin: 0.2rem;
}

span{
    display: block;
}

.comida{
    list-style-type: circle;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.comidinha{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.geek{
    display: flex;
}

.imgAloy{
}